# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


CloudRenderServer/.idea
CloudRenderServer/out
CloudRenderServer/bin
CloudRenderServer/data/book.txt
CloudRenderServer/data/pieceObj
CloudRenderServer/data/test.log
CloudRenderServer/src/cloud_game.dll
CloudRenderServer/src/com_chen_cloud_cloud_game_mgr.h
CloudRenderServer/cloud_thrift.dll
CloudRenderServer/nvidia_info.log
CloudRenderServer/server.cfg
CloudRenderServer/log/*
CloudRenderServer/RenderServer/libboost_system.so
CloudRenderServer/RenderServer/libboost_system.so.1.60.0
CloudRenderServer/RenderServer/libcloud_render.so
CloudRenderServer/RenderServer/libprotobuf-lite.so.18.0.0
CloudRenderServer/RenderServer/runtime/capture_hook64.dll
CloudRenderServer/RenderServer/runtime/cloud_rendering.dll
CloudRenderServer/RenderServer/runtime/rtc.dll

cloud_game/cloud_game/x64/*
cloud_game/.vs/*
cloud_game/x64/*
cloud_game/cloud_game/cloud_game.vcxproj.user

CloudRenderServer/CloudRenderServer.dll
CloudRenderServer/CloudRenderServer.jar
CloudRenderServer/src/META-INF/MANIFEST.MF
CloudRenderServer/src/com_chen_cloud_CloudRenderServer.h
test/test.iml
test/.idea/.gitignore
test/.idea/misc.xml
test/.idea/modules.xml
test/.idea/vcs.xml
test/.idea/artifacts/unnamed.xml
test/.idea/libraries/commons_io_2_11_0.xml
test/lib/commons-io-2.11.0.jar
test/lib/customizer.jar
test/lib/dom4j-2.1.3.jar
test/META-INF/MANIFEST.MF
test/out/artifacts/unnamed/unnamed.jar
test/out/production/test/com/chen/Main.class
test/out/production/test/com/chen/Audio/MP3.class
test/out/production/test/com/chen/chessBoard/ChessBoarder.class
test/out/production/test/com/chen/chessBoard/ChessPieces.class
test/out/production/test/com/chen/cloud/CloudRenderServer.class
test/out/production/test/com/chen/defultSet/DefultSet.class
test/out/production/test/com/chen/imageLibary/background.png
test/out/production/test/com/chen/imageLibary/black-jiang.png
test/out/production/test/com/chen/imageLibary/black-ju.png
test/out/production/test/com/chen/imageLibary/black-ma.png
test/out/production/test/com/chen/imageLibary/black-pao.png
test/out/production/test/com/chen/imageLibary/black-shi.png
test/out/production/test/com/chen/imageLibary/black-win.png
test/out/production/test/com/chen/imageLibary/black-xiang.png
test/out/production/test/com/chen/imageLibary/black-zu.png
test/out/production/test/com/chen/imageLibary/ButtonAllReset_0.png
test/out/production/test/com/chen/imageLibary/ButtonAllReset_1.png
test/out/production/test/com/chen/imageLibary/ButtonComputerDo_0.png
test/out/production/test/com/chen/imageLibary/ButtonComputerDo_1.png
test/out/production/test/com/chen/imageLibary/chessboardafter.png
test/out/production/test/com/chen/imageLibary/InfBoard.png
test/out/production/test/com/chen/imageLibary/information.png
test/out/production/test/com/chen/imageLibary/kuang.png
test/out/production/test/com/chen/imageLibary/Menu1_0.png
test/out/production/test/com/chen/imageLibary/Menu1_1.png
test/out/production/test/com/chen/imageLibary/Menu2_0.png
test/out/production/test/com/chen/imageLibary/Menu2_1.png
test/out/production/test/com/chen/imageLibary/Menu3_0.png
test/out/production/test/com/chen/imageLibary/Menu3_1.png
test/out/production/test/com/chen/imageLibary/Menu4_0.png
test/out/production/test/com/chen/imageLibary/Menu4_1.png
test/out/production/test/com/chen/imageLibary/red-bing.png
test/out/production/test/com/chen/imageLibary/red-ju.png
test/out/production/test/com/chen/imageLibary/red-ma.png
test/out/production/test/com/chen/imageLibary/red-pao.png
test/out/production/test/com/chen/imageLibary/red-shi.png
test/out/production/test/com/chen/imageLibary/red-shuai.png
test/out/production/test/com/chen/imageLibary/red-win.png
test/out/production/test/com/chen/imageLibary/red-xiang.png
test/out/production/test/com/chen/log/Logger.class
test/out/production/test/com/chen/music/bgm.mp3
test/out/production/test/com/chen/music/dopiece.wav
test/out/production/test/com/chen/music/win.wav
test/out/production/test/com/chen/system/CpuInfo.class
test/out/production/test/com/chen/system/GPUInfo.class
test/out/production/test/com/chen/system/gpuVideo.class
test/out/production/test/com/chen/system/ProcessInfo.class
test/out/production/test/com/chen/system/SystemGpu.class
test/out/production/test/com/chen/system/Util.class
test/out/production/test/com/chen/util/System.class
test/out/production/test/com/chen/whindow/ChessBoarderCanvas.class
test/out/production/test/com/chen/whindow/ChineseChessMainFrame$1.class
test/out/production/test/com/chen/whindow/ChineseChessMainFrame$2.class
test/out/production/test/com/chen/whindow/ChineseChessMainFrame$3.class
test/out/production/test/com/chen/whindow/ChineseChessMainFrame$4.class
test/out/production/test/com/chen/whindow/ChineseChessMainFrame$5.class
test/out/production/test/com/chen/whindow/ChineseChessMainFrame$6.class
test/out/production/test/com/chen/whindow/ChineseChessMainFrame$7.class
test/out/production/test/com/chen/whindow/ChineseChessMainFrame$8.class
test/out/production/test/com/chen/whindow/ChineseChessMainFrame.class
test/out/production/test/com/chen/whindow/DiyButton$1.class
test/out/production/test/com/chen/whindow/DiyButton.class
test/out/production/test/com/chen/whindow/InformationBoard.class
test/out/production/test/com/chen/whindow/TimerThread.class
test/out/production/test/com/chen/whindow/LabelEvent/ChessPieceClick.class
test/src/com/chen/Main.java
test/src/com/chen/Audio/MP3.java
test/src/com/chen/chessBoard/ChessBoarder.java
test/src/com/chen/chessBoard/ChessPieces.java
test/src/com/chen/cloud/CloudRenderServer.java
test/src/com/chen/defultSet/DefultSet.java
test/src/com/chen/imageLibary/background.png
test/src/com/chen/imageLibary/black-jiang.png
test/src/com/chen/imageLibary/black-ju.png
test/src/com/chen/imageLibary/black-ma.png
test/src/com/chen/imageLibary/black-pao.png
test/src/com/chen/imageLibary/black-shi.png
test/src/com/chen/imageLibary/black-win.png
test/src/com/chen/imageLibary/black-xiang.png
test/src/com/chen/imageLibary/black-zu.png
test/src/com/chen/imageLibary/ButtonAllReset_0.png
test/src/com/chen/imageLibary/ButtonAllReset_1.png
test/src/com/chen/imageLibary/ButtonComputerDo_0.png
test/src/com/chen/imageLibary/ButtonComputerDo_1.png
test/src/com/chen/imageLibary/chessboardafter.png
test/src/com/chen/imageLibary/InfBoard.png
test/src/com/chen/imageLibary/information.png
test/src/com/chen/imageLibary/kuang.png
test/src/com/chen/imageLibary/Menu1_0.png
test/src/com/chen/imageLibary/Menu1_1.png
test/src/com/chen/imageLibary/Menu2_0.png
test/src/com/chen/imageLibary/Menu2_1.png
test/src/com/chen/imageLibary/Menu3_0.png
test/src/com/chen/imageLibary/Menu3_1.png
test/src/com/chen/imageLibary/Menu4_0.png
test/src/com/chen/imageLibary/Menu4_1.png
test/src/com/chen/imageLibary/red-bing.png
test/src/com/chen/imageLibary/red-ju.png
test/src/com/chen/imageLibary/red-ma.png
test/src/com/chen/imageLibary/red-pao.png
test/src/com/chen/imageLibary/red-shi.png
test/src/com/chen/imageLibary/red-shuai.png
test/src/com/chen/imageLibary/red-win.png
test/src/com/chen/imageLibary/red-xiang.png
test/src/com/chen/log/Logger.java
test/src/com/chen/music/bgm.mp3
test/src/com/chen/music/dopiece.wav
test/src/com/chen/music/win.wav
test/src/com/chen/system/CpuInfo.java
test/src/com/chen/system/GPUInfo.java
test/src/com/chen/system/gpuVideo.java
test/src/com/chen/system/ProcessInfo.java
test/src/com/chen/system/SystemGpu.java
test/src/com/chen/system/Util.java
test/src/com/chen/util/System.java
test/src/com/chen/whindow/ChessBoarderCanvas.java
test/src/com/chen/whindow/ChineseChessMainFrame.java
test/src/com/chen/whindow/DiyButton.java
test/src/com/chen/whindow/InformationBoard.java
test/src/com/chen/whindow/TimerThread.java
test/src/com/chen/whindow/LabelEvent/ChessPieceClick.java
CloudRenderServerMgr/.vs/
CloudRenderServerMgr/vsout/ 
CloudRenderServerMgr/MFCApplication1/log/ 
