# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


CloudRenderServer/.idea
CloudRenderServer/out
CloudRenderServer/bin
CloudRenderServer/data/book.txt
CloudRenderServer/data/pieceObj
CloudRenderServer/data/test.log
CloudRenderServer/src/cloud_game.dll
CloudRenderServer/src/com_chen_cloud_cloud_game_mgr.h
CloudRenderServer/cloud_thrift.dll
CloudRenderServer/nvidia_info.log
CloudRenderServer/server.cfg
CloudRenderServer/log/*
CloudRenderServer/RenderServer/libboost_system.so
CloudRenderServer/RenderServer/libboost_system.so.1.60.0
CloudRenderServer/RenderServer/libcloud_render.so
CloudRenderServer/RenderServer/libprotobuf-lite.so.18.0.0
CloudRenderServer/RenderServer/runtime/capture_hook64.dll
CloudRenderServer/RenderServer/runtime/cloud_rendering.dll
CloudRenderServer/RenderServer/runtime/rtc.dll

cloud_game/cloud_game/x64/*
cloud_game/.vs/*
cloud_game/x64/*
cloud_game/cloud_game/cloud_game.vcxproj.user

